spring:
  application:
    name: memora-core

  datasource:
    url: jdbc:postgresql://localhost:5432/memora_db
    username: memora
    password: memora
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: true
    consumer:
      group-id: memora-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*" # On fait confiance à tout pour le dev

  ai:
    ollama:
      base-url: http://localhost:11434
      init:
        pull-model-strategy: never # TRES IMPORTANT : On interdit à Spring de télécharger, c'est toi qui gères via le terminal

      # Configuration du Chat (Cerveau)
      chat:
        options: # Il faut mettre ça sous 'options'
          model: llama3.1
          temperature: 0.3
          top-k: 10

      # Configuration de l'Embedding (Mémoire)
      embedding:
        options: # Idem ici
          model: nomic-embed-text

memora:
  kafka:
    topics:
      ingest: "memora-ingest-events-v1"

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  metrics:
    distribution:
      percentiles-histogram:
        http.server.requests: true
  prometheus:
    metrics:
      export:
        enabled: true

logging:
  level:
    org.springframework.ai: DEBUG
    org.springframework.web.client: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE # Pour voir les valeurs des ?